{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@next/next/recommended",
    "prettier"
  ],
  "ignorePatterns": ["*/public", "*/node_modules/*", "*/.next/*", "*/dist/*"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "overrides": [
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "import", "react", "react-hooks", "prettier"],
  "rules": {
    "react/display-name": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/order": "off",
    "no-irregular-whitespace": "off",
    "object-curly-spacing": ["error", "never"],
    "react/react-in-jsx-scope": "off",
    "react/no-unescaped-entities": "off",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "@next/next/no-img-element": "off"
  }
}
